<div class="new-ticket-modal">
  <h2 md-dialog-title>New ticket</h2>
  <mat-icon class="close-button" (click)="onClose()" svgIcon="close-box-outline"></mat-icon>
  <hr>
  <div md-dialog-content>
    <span>Name:</span>
    <input type="text" [(ngModel)]="name" />
    <br />
    <br />
    <span>Description:</span>
    <input type="text" [(ngModel)]="description" />
    <br />
    <br />
    <button md-raised-button (click)="onAdd()">Add</button>
  </div>
</div>