.fill-space {
    /*
    This fills the remaining space, by using flexbox.
    Every toolbar row uses a flexbox row layout.
    */
    flex: 1 1 auto;
}

section {
    margin-bottom: 10px;
}

button {
    margin: 0 10px;
}