<section>
    <mat-toolbar>
        <button mat-button [routerLink]="['/']">
            Home
        </button>
        <button mat-button [routerLink]="['/admin']">
            Admin
        </button>
        <span class="fill-space"></span>
        <span>Hi {{currentUser.First}}!</span>
        <button mat-button [routerLink]="['/login']">
            Logout
        </button>
    </mat-toolbar>
</section>
<router-outlet></router-outlet>