<div class="timesheets-modal">
  <h2 md-dialog-title>{{ticket.Name}}</h2>
  <mat-icon class="close-button" (click)="onClose()" svgIcon="close-box-outline"></mat-icon>
  <hr>
  <div md-dialog-content>
    <span *ngIf="group.Timesheets.length == 0">(no timesheets yet)</span>
    <div *ngFor="let timesheet of group.Timesheets">
      <strong>{{ timesheet.LoggedTime }}h</strong> -
      <span *ngIf="timesheet.Comment != null">{{ timesheet.Comment }}</span>
      <span *ngIf="timesheet.Comment == null">(no comments)</span>
    </div>
    <hr>
    <div>
      <span>New timesheet time:</span>
      <input type="text" [(ngModel)]="time" />
      <br />
      <br />
      <span>New timesheet comment:</span>
      <input type="text" [(ngModel)]="comment" />
      <br />
      <br />
      <button md-raised-button (click)="onAdd()">Add</button>
    </div>
  </div>
</div>