<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    <a href="http://dataart.com" target="_top">DataArt - PM</a>
  </p>
</div>