<div class="col-md-12">
  <section>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur tempor semper. Curabitur finibus justo a tempor
      dictum. Integer eget malesuada nunc. Sed porta lectus eget sem facilisis aliquam. Praesent et augue in nunc laoreet
      venenatis vitae et erat. Praesent vitae dolor vitae libero lobortis varius. Sed pretium felis suscipit, placerat purus
      porttitor, venenatis metus. Curabitur eget lorem vel dui mattis blandit. Pellentesque venenatis lacinia suscipit.
    </p>
  </section>
</div>