<div class="col-md-12">
  <section>
    <button class="btn btn-primary pull-right" (click)="openDialog(project)">New ticket</button>
    <h3>{{ project?.Name }}</h3>
    <table class="table">
      <tr>
        <ng-container *ngFor="let status of statuses">
          <td>
            <strong>{{ status.Name }}</strong>
          </td>
        </ng-container>
      </tr>
      <ng-container *ngFor="let ticket of project?.Tickets, let i = index;">
        <tr>
          <ng-container *ngFor="let status of statuses">
            <td>
              <ng-container *ngIf="ticket.StatusId != status.Id">
                <div dnd-droppable class="target-panel" (onDropSuccess)="onMove($event, ticket, status.Id)">
                </div>
              </ng-container>
              <ng-container *ngIf="ticket.StatusId == status.Id">
                <div class="ticket" dnd-draggable [dragEnabled]="true" [dragData]="ticket">
                  T-{{ ticket.Id }}
                  <br /> {{ ticket.Name != null ? ticket.Name : ticket.Description }}
                </div>
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </table>
  </section>
</div>