h3 {
    text-align: center;
}

.ticket {
    border: 1px solid #000;
    padding: 10px;
    width: 150px;
    background-color: #fff;
}

table td {
    width: 20%;
}

.target-panel {
    height: 100px;
}