/* You can add global styles to this file, and also import other style files */

button.mat-menu-item {
    line-height: 24px !important;
}

a.mat-menu-item>mat-icon {
    margin-bottom: 14px;
}

.mat-icon svg {
    height: 24px;
    width: 24px;
}