<div class="col-md-12">
    <section>
        <table class="table">
            <tr>
                <th>
                    <strong>Timesheets</strong>
                </th>
                <th>
                    <mat-icon (click)="loadPrevious()" svgIcon="arrow-left-thick"></mat-icon>
                </th>
                <th *ngFor="let date of dates">{{date.getMonth()}}/{{date.getDate()}}</th>
                <th>
                    <mat-icon (click)="loadNext()" svgIcon="arrow-right-thick"></mat-icon>
                </th>
            </tr>
            <ng-container *ngFor="let project of projects">
                <tr class="project-row">
                    <td colspan="10">
                        <a [routerLink]="['/dashboard', project.Id]">
                            <strong>{{ project.Name }}</strong>
                        </a>
                    </td>
                </tr>
                <tr *ngFor="let ticket of project.Tickets" class="ticket-row">
                    <td>{{ ticket.Name }}</td>
                    <td></td>
                    <td *ngFor="let group of ticket.TimesheetsPerDay">
                        <input class="totalTime" [disabled]="group.Timesheets.length > 1" type="text" (change)="saveChanges(project, ticket, group, group.TotalTime)"
                            [(ngModel)]="group.TotalTime">
                        <mat-icon (click)="openDialog(project, ticket, group)" svgIcon="plus-box"></mat-icon>
                    </td>
                    <td></td>
                </tr>
                <tr class="ticket-row">
                    <td>
                        <strong>Total</strong>
                    </td>
                    <td></td>
                    <td *ngFor="let group of project.Totals">
                        <span>{{ group.TotalTime }}</span>
                    </td>
                    <td></td>
                </tr>
            </ng-container>
        </table>
    </section>
</div>